.contact {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration-thickness: 3px;
    text-underline-offset: 20%;
    opacity: 1;
    transition: 0.3s;
    position: fixed;
    bottom: 795px;
    right: 150px;
    width: 300px;
}

.contact:hover {
    text-decoration: none;
}

.logo {
    position: fixed;
    bottom: 792px;
    right: 1425px;
}