.contact {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration-thickness: 3px;
    text-underline-offset: 20%;
    opacity: 1;
    transition: 0.3s;
    margin-top: 50px;
    margin-left: 950px;
    width: 300px;
}

.contact:hover {
    text-decoration: none;
}

.logo {
    margin-top: 50px;
    margin-left: 100px;
}

.coindesk {
    margin: 20px;
}