.blurb {
    font-family: 'Open Sans', sans-serif;
}

.blurb-header {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 20%;
    display: flex;
    margin-left: 150px;
    margin-top: 30px;
}

.blurb-words{
    /* display: flex;
    margin-left: 650px;
    margin-top: 90px; */
    height: auto;
    float: right;
    margin-right: 190px;
    margin-top: 80px;
}

.blurb-sentence{
    display: flex;
    margin-top: -15px;
}