.Graph {
    position:relative;
    float: right;
    display: flex;
    width: 50%;
    padding-bottom: 100px;
    padding-right: 100px;
    margin-top: 150px;
}

/* .X-axis {
    margin-top: 160px;
    padding-left: -20px;
}

.Y-axis {
    display: flex;
    margin-top: 70px;
    padding-right: 40px;
} */