.form {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 680px;
    right: 870px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2D2D2D;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #5f6161;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

.inputbutton {
	color: #2D2D2D !important;
	text-transform: uppercase;
	padding: 10px;
	border: 1px solid #2D2D2D !important;
	border-radius: 2px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.inputbutton:hover {
	color: #463463 !important;
	border-radius: 50px;
	border-color: #463463 !important;
	transition: all 0.3s ease 0s;
}