/* .form {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 680px;
    right: 870px;
} */

.start-label {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 680px;
    right: 1570px;
}

.start {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 670px;
    right: 1350px;
}

.end-label {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 680px;
    right: 1190px;
}

.end {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 670px;
    right: 970px;
}

.currency-label {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 680px;
    right: 830px;
}

.currency {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 680px;
    right: 510px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2D2D2D;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #5f6161;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

.inputbutton {
	color: #2D2D2D !important;
	text-transform: uppercase;
	padding: 10px;
	display: inline-block;
	transition: all 0.3s ease 0s;
    border-radius: 5px;
    position: fixed;
    bottom: 600px;
    right: 560px;
    width: 50%;
}

.inputbutton:hover {
	color: #463463 !important;
	border-radius: 50px;
	border-color: #463463 !important;
	transition: all 0.3s ease 0s;
    background: #dbdbdb;
}